:root 
{
    --white: #ffffff;
    --text: #3f3f3f;
    --hovernav : lightgray;
    --fontontop: helvetica;
    --fonttype: sans-serif;
    --offwhite: #F2F3F4;
    --headingfont: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

/* Nav Bar */
header {
    background-color: var(--white);
    color: var(--text);
    padding: 20px 0;
}

.left-nav {

}
.nav-trans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
    background-color: transparent;
    position: relative;
}


.nav-menu {
    display: flex;
    flex-grow: .9;
    text-align: center;
    margin-left: auto;
}

.right-nav {
    text-align: right;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-menu li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    color: var(--text);
}

.main-menu li a {
    color: var(--text);
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--headingfont), var(--fonttype);
}

.main-menu li:last-child {
    margin-right: 0; 
}

.main-menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--white);
    padding: 10px;
    left: 0;
    min-width: 120px;
    text-align: left;
    z-index: 1;   
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    transform: translateY(-10px); 
}

.main-menu li:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
  }

.submenu li {
    margin: 10px 0;
    display: block;
}

.submenu li:hover {
    background-color: var(--hovernav);
}

.submenu li a {
    color: var(--text);
    text-decoration: none;
    font-size: 14px; 
    text-transform: uppercase;
    font-family: var(--headingfont), var(--fonttype);
}


.right-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.right-nav ul li:hover {
    background-color: var(--hovernav);
}

.right-nav ul li a {
    color: var(--text) !important;
    text-decoration: none;
    font-size: 15px;
    font-family: var(--headingfont), var(--fonttype);
    text-transform: uppercase;
}

.logo-top {
    max-width: 100px;
} 

.submenu li:hover,
.right-nav ul li:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Navbar Ends */


/* Info Section of About Us*/
.info-sec{
    display: flex;
    align-items: center;
    padding: 80px;
}

.info {
    margin: 0 auto;
}

.info h2{
    font-size: 40px;
    color: #2a2a2a;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
    text-align: left;
}

.info p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #8e8e8e;
    font-family: var(--fontontop),var(--fonttype);
    text-align: left;
}

.info-img {
    margin: 0 auto;
}
/* Info ends */


/* Awards grid */
.awards-main {
    gap: 10px; 
    margin-bottom: 50px;
}

.awards {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    padding: 0px 70px ;
}

.awards-main h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
    margin-left: 10vh;

}

.awards-main p {
    font-size: 20px;
    color: #1d1d1d;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
    margin-left: 10vh;
    margin-bottom: 5vh;
}

.single-award {
    width: 220px;
    height: 100px;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.award:hover {
    transform: scale(1.2); 
}

.award1 {
    background-image: url('images/award1.png');
}
.award2 { 
    background-image: url('images/award2.png');
}
.award3 {    
    background-image: url('images/award3.png');
}
.award4 {  
    background-image: url('images/award4.png');  
}
.award5 {
    background-image: url('images/award5.png');
}
.award6 {
    background-image: url('images/award6.png');   
}

.award1:hover {
    background-image: url('images/award1-1.png');
}
.award2:hover { 
    background-image: url('images/award2-1.png');
}
.award3:hover {    
    background-image: url('images/award3-1.png');
}
.award4:hover {  
    background-image: url('images/award4-1.png');  
}
.award5:hover {
    background-image: url('images/award5-1.png');
}
.award6:hover {
    background-image: url('images/award6-1.png');   
}
/* Awards ends*/

/* People ask section*/

.paa {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    position: relative;
}

.paa-section {
    font-family: var(--fontontop), var(--fonttype);
    text-align: left;
    padding: 20px;
    margin-right: 20px;
    width: 300px;
    overflow: auto;
    margin: 0 auto;
}

.paa-section h2 {
    color: #2a2a2a;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

.question {
    display: inline-block;
    font-weight: 150;
    cursor: pointer;
    color: #2f2e2e;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.question::before {
    content: "+";
    font-size: 2.5vh;
    margin-right: 5px;
}

.question.expanded::before {
    content: "-";
    font-size: 20px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
    margin-top: 0;
    margin-bottom: 10px;
    color: #353535;
}

.answer.show {
    max-height: 200px;
    margin-top: 10px; 
}

.paa-image {
    margin: 0 auto;
}

.paa-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Ask section end*/


/* Page footer */
.page-footer {
    background: linear-gradient(to right, #333, #555); 
    color: #fff; 
    padding: 30px 0; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
  }
  
  .footer-logo img {
    height: 50px; 
  }
  
  .footer-nav ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav ul li,
  .footer-social ul li {
    display: inline-block;
    margin-right: 40px;  
  }
  
  .footer-nav ul li a {
    color: var(--offwhite);
    text-decoration: none;
    font-size: 15px;
    font-family: var(--headingfont), var(--fonttype);
  }

  .footer-nav ul li a:hover {
    color: var(--white);
  }

  .footer-social img {
    height: 30px; 
    transition: transform 0.3s ease; 
  }
  
  .footer-social img:hover {
    transform: scale(1.2); 
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5; 
  }
  
  .footer-bottom p {
    margin: 0;
    vertical-align: middle; 
    color: var(--offwhite);
  }
/* Footer ends */

/* Contact Information*/
.contact-head {
    padding: 10vh;
    margin-bottom: -20vh;
}

.contact-head h2 {
    font-size: 40px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
    text-align: left;
}

  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vh;
}
.contact-info {
    flex: 1;
    margin-right: 20px;
}
.inquiry-form {
    flex: 1;
}
.inquiry-form h2 {
    font-size: 20px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
}

.contact-info h2 {
    font-size: 20px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
}
.contact-info p {
    font-size: 18px;
    color: #b8b7b7;
    margin-bottom: 10px;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 0;
}
.form-group {
    display: flex;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    margin-right: 5px;
    gap: 5vh; 
}

.form-group .half-width {
    width: calc(50% - 5px);
    margin-right: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.input-group input:last-child {
    margin-right: 0; 
}

.form-group textarea {
    margin-top: 1vh;
    width: 70%; 
    height: 150px; 
    box-sizing: border-box;
}

.form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0; 
    color: #333; 
    border: none;
    cursor: pointer;
    margin-top: 1vh;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.form-group button:hover {
    background-color: #d8d8d8;
    border-color: #bbb; 
    color: #000;
}
/* Contact Section Ends */


/*Our Stores */

.contact-places {
    display: flex;
    margin: 0 auto;
    gap: 5vh;
    padding: 5vh;
}

.places {
    max-width: 25%;;
}

.places img {
    width: 100%; 
    height: auto;
}

 .contact-address h2 { 
    font-size: 20px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
 }

 .contact-address p {
    font-size: 18px;
    color: #6b6b6b;
    margin-bottom: 10px;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 0;
 }
/* Stores ends */

/* Map location */
 .map-head {
    padding-top: 10vh;
    padding-left: 8vh;
 }

 .map-head h2{
    font-size: 40px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;

 }
 .map-head p {
    font-size: 20px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
    margin-bottom: 5vh;
    text-align: left;
    margin-top: -3vh;
 }
 .map-container {
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    align-items: center;
  }

  .map-container iframe {
    width: 100%;
    border: 0; 
  }
/* Map location ends*/


/* Product card */
  .product-container {
    display: flex;
    flex-direction: row;
    padding: 10vh;
    gap: 1vh;
} 

  .product-pics {
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 1vh;
    align-items: flex-end;
}

.product-pics img {
    max-width: 15vh;
    height: auto;
    margin-bottom: 10px; 
  }

.product-picture {
    flex: 1;  
}

.product-picture #mainImage {
    max-width: 70vh;
    height: 60vh;
}

.product-info {
    flex: 2;
}

.product-info {
    display: flex; 
    flex-direction: column;
}

.product-info h2 {
    font-size: 40px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
}
.add-to-cart-btn {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 20vh;
}

.add-to-cart-btn:hover {
    background-color: #ddd;
}

.price {
    margin-top: -2vh;
    font-size: 20px;
    color: #b8b7b7;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 0;

}
/* Product Cards Ends */


/* Product Additional info */

.additional-info {
    align-items: center;
    font-size: 16px;
    color: #b8b7b7;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 0;
}

.product-info button {
    align-items: flex-end;
}

.product-description-tabs {
    padding: 10vh;
    padding-top: 0;
}

.tab-btn {
    background-color: transparent;
    padding: 1px 20px;
    cursor: pointer;
    border-top: none;
    border-left: none;
}


.tab-btn.active {
    background-color: transparent;
}
.tab-btn {
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 100;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: transparent;
}

.tab-content.active {
    display: block;
}
.tab-content p {
    font-size: 20px;
    color: #787777;
    font-family: var(--fontontop),var(--fonttype);
    font-weight: 0;
}
/* additional ends */

/* Reviews */

  .main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: var(--fontontop),var(--fonttype);
}
.reviews-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.review {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.review-name {
    margin: 0;
    color: #333;
    font-size: 18px;
}
.review-text {
    margin-top: 5px;
    color: #666;
    font-size: 16px;
}

.main-header {
    text-align: center;
    margin-bottom: 40px;
}
/* Reviews ends */

/* product gallery */

/* Half page grid*/

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px; 
    position: relative;
    margin-top: 0px;
    padding-top: 0px; 
  }
  
  .image {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
  }
  
  .image .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    background-color: transparent; 
    border-radius: 8px;
  }

  .image .content h2 {
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 45px;
    text-transform: uppercase;
    font-family: var(--headingfont), var(--fonttype);
  }

  .image .content p {
    margin-bottom: -30px;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--headingfont), var(--fonttype);
  }

  .firstcon {
    color: var(--text);
  }

  .secondcon {
    color: var(--white);
  }

  .button-48 {
    display: none;
  }
/* Half page grid ends */

/* Catagory Display */
  .four-grid-container {
    max-width: 100vw;
    height: auto;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0;
  }
  
  .four-grid-item {
    position: relative;
    overflow: hidden;
    display: grid;
    margin: 0;
  }
  
  .four-grid-item img {
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
  }

  #item1 {
    grid-column: 1/3;
    grid-row: 1/5;
    height: 100vh;
    width: 85vh;
    }

  #item2 {
    grid-column: 3;
    grid-row: 1/3;
    height: 50vh;
    width: 50vh;
  }

  #item3 {
    grid-column: 3;
    grid-row: 3/5;
    height: 50vh;
    width: 50vh;
    object-fit: contain;
  }

  #item2 img,
#item3 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#item4 img {
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#item4 img:hover {
  transform: scale(1.1) translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
}

  #item4 {
    grid-column: 4 / 4;
    grid-row: 1 / 5;
    height: 100vh;
    width: 45vh;
  }
  
  .four-grid-item:hover img {
    transform: scale(1.1);
    opacity: .8;
  }

  .name-box {
    position: absolute;
    top: 90%;
    left: 50%;
    color: var(--text);
    border: none;
    text-transform: uppercase;
    font-family: var(--headingfont), var(--fonttype);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    padding: 20px;
    text-align: left;
    transition: top 0.3s ease;
    width: 20vh;
}

.four-grid-item:hover .name-box {
  top: 88%;
}
/* catagory display ends */

/* newsletter signup and gallery */
.lower-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
}

.newsletter {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.newsletter h2 {
  font-size: 40px;
  color: #2a2a2a;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--fontontop),var(--fonttype);
  font-weight: 100;
  text-align: left;
}

.newsletter p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #8e8e8e;
  font-family: var(--fontontop),var(--fonttype);
  text-align: left;
}

.newsletter form {
  margin-top: 3vh;
  display: flex;
  gap: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  width: 40vh;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #EE99C2;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.newsletter button:hover {
  background-color: #F0A4EE;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.newsletter-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px; 
  overflow: hidden;
}

.news-grid img {
  width: 100%;
  transition: transform 0.3s ease;
  height: 100%;
  object-fit: cover;
}

.news-grid:hover img {
  opacity: .7;
}
/* newsletter signup & gallery */




@media screen and (max-width: 750px) {
    body {
        width: 100%;
    }

    /* Moblie Nav */
    .nav-trans {
        display: flex;
        flex-direction: column;
        height: 15vw;
        margin-right: 15vw;
        padding-bottom: 3vw;
      }
    .left-nav {
        margin-bottom: 3vw;
    }
    /* mobile nav ends*/

    /* moible awards*/
    .awards {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        transition: transform 0.3s ease-in-out;
        padding: 0px 2vh ;
    }
      
    .single-award {
        width: 15vh;
        height: 7vh;
        margin: 0 2vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
      .award1,.award2, .award5{
        display: none;
    }
    /* mobile award ends*/

    /* about-us mobile info section*/
    .info-sec{
        display: flex;
        flex-direction: column-reverse;
        padding: 0vw;
        width: 10vw;
        align-items: center;
    }
    
    .info {
        margin-left: 20vw;
        align-items: center;
    }
    
    .info h2{
        font-size: 4vh;
        color: #2a2a2a;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: var(--fontontop),var(--fonttype);
        font-weight: 100;
        text-align: left;
    }
    
    .info p{
        font-size: 3vh;
        margin-bottom: 20px;
        color: #8e8e8e;
        font-family: var(--fontontop),var(--fonttype);
        text-align: left;
    }
    
    .info-img {
        width: 100vw;
        align-items: center;
    }
    .info-img img {
        width: 100%;
    }
    /* info ends */

    /* moblie frequent ask */
    .paa {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: relative;
        width: 100vw;
    }
    
    .paa-section {
        font-family: var(--fontontop), var(--fonttype);
        text-align: left;
        padding: 0px;
        margin-right: 1vw;
        width: 80vw;
        overflow: auto;
        margin: 0 auto;
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease; 
        margin-top: 0;
        margin-bottom: 10px;
        color: #353535;
    }
    
    .answer.show {
        max-height: 10vh;
        margin-top: 10px; 
    }
    
    .paa-image {
        width: 100vw;
        align-items: center;
    }

    .paa-image img {
        width: 100%;
    }
    
    .paa-section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    /* frequent ask ends  */

    /* mobile footer*/
    .page-footer {
        position: relative;
        width: 100vw;
        left: 0;
        bottom: 0;
        border-top-left-radius: 1vh; 
        border-top-right-radius: 1vh;
        box-shadow: 0px -1vh 1vh rgba(0, 0, 0, 0.2); 
        
      }
      .footer-content {
        padding: 0; 
      }
      .footer-logo img {
        height: 3vh; 
      }
    
      .footer-social img {
        height: 20px; 
        transition: transform 0.3s ease; 
      }
    
      .footer-nav ul li,
      .footer-social ul li {
        display: inline-block;
        margin-right: 30px;
        margin-left: 20px;  
      }
    
      .footer-nav ul li {
        margin-left: 40px;
      }
      /* moible footer ends*/


    /* mobile contact-us */
    /* moblie address*/
    .contact-head {
        padding: 1vw;
        margin-bottom: -25vw;
    }
    
    .contact-head h2 {
        font-size: 10vw;
        color: #2a2a2a;
        text-transform: uppercase;
        font-family: var(--fontontop),var(--fonttype);
        font-weight: 100;
        text-align: left;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1vw;
        padding-top: 20vw;
        width: 100vw;
        
    }
    .contact-info {
        flex: 1;
        margin-right: 0px;
    }
    .inquiry-form {
        flex: 1;
    }
    .form-group .half-width {
        width: 0px;
        margin-right: 0px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 39vw;
        padding: 6px;
        font-size: 16px;
    }
    
    .input-group input:last-child {
        margin-right: 0; 
    }
    
    .form-group textarea {
        margin-top: 1vh;
        width: 90%; 
    }
    /* address ends */

    /* mobile contact places  */
    .contact-places {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 5vh;
        padding: 0vw;
    }
    
    .input-group {
        display: flex;
        margin-right: 0px;
        gap: 3vw; 
    }
    .places {
        max-width: 90vw;
    }
    
    .places img {
        width: 100vw; 
        height: auto;
    }
    
    .contact-address h2 { 
        font-size: 20px;
        color: #1d1d1d;
        text-transform: uppercase;
        font-family: var(--fontontop),var(--fonttype);
        font-weight: 100;
    }
    
    .contact-address p {
        font-size: 18px;
        color: #6b6b6b;
        margin-bottom: 10px;
        font-family: var(--fontontop),var(--fonttype);
        font-weight: 0;
    }
    /* contact places end */

    /* mobile map area */
    .map-head {
        padding-top: 5vh;
        padding-left: 0vw;
    }
    
     .map-head h2{
        padding-left: 1vw;
    
    }
     .map-head p {
        padding-left: 1vw;
    }
     .map-container iframe {
        width: 100%;
        border: 0; 
    }
    /* mobile map area ends */

    /* mobile produt card */
    .product-container {
        display: flex;
        flex-direction: column;
        padding: 5vw;
        gap: 1vh;
        align-items: center;
    } 
       
    .product-picture {
        flex: 1;
    }
    
    .product-picture #mainImage {
        max-width: 100vw;
        height: 100vw;
    }
    .product-pics {
        flex: 2;
        display: flex;
        flex-direction: row;
        margin-right: 0px;
        margin-left: 0px;
        gap: 1vw;
    }
    .product-pics img {
        width: 25%;
    }
    
    .product-info {
        flex: 3;
    }
    
    .product-info {
        display: flex; 
        flex-direction: column;
        padding: 0px;
        align-items: center;
    }
    
    .product-info h2 {
        font-size: 40px;
        color: #1d1d1d;
        text-transform: uppercase;
        font-family: var(--fontontop),var(--fonttype);
        font-weight: 100;
    }
    .add-to-cart-btn {
        background-color: #f0f0f0;
        border: none;
        color: #333;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        width: 20vh;
        margin-bottom: 10vw;
    }
    /* mobile product card ends */

    /* moblie additonal info */
    .product-description-tabs {
        padding: 5vw;
        padding-top: 0;
    }
    
    .tab-btn {
        padding: 1vw;
        border: #000;
        border-color: black;
    }
    .tab-btn.active {
        background-color: transparent;
    }
    /* mobile additional info ends */


    /* mobile product gallery */
    /* moible main half page grid*/
    .image {
        width: 100%;
        height: 110vw;
        image-rendering: auto;
      }
      
      .image .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 1px;
        background-color: transparent; 
        border-radius: 1px;
        margin-bottom:  0px;
      }
    
      .image .content h2 {
        margin-bottom: 5px;
        text-decoration: none;
        font-size: 5vw;
        text-transform: uppercase;
        font-family: var(--headingfont), var(--fonttype);
      }
    
      .image .content p {
        margin-bottom: -20vw;
        text-decoration: none;
        font-size: 4vw;
        text-transform: uppercase;
        font-family: var(--headingfont), var(--fonttype);
      }
      .new-button, .new-button-style {
        display: none;
      }
      
      .button-48 {
        appearance: none;
        background-color: #FFFFFF;
        border-width: 0;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-family: Clarkson,Helvetica,sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1em;
        margin: 0;
        opacity: 1;
        outline: 0;
        padding: 1.5em 2.2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-rendering: geometricprecision;
        text-transform: uppercase;
        transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: -1000px;
        white-space: nowrap;
      }
      
      .button-48:before {
        animation: opacityFallbackOut .5s step-end forwards;
        backface-visibility: hidden;
        background-color: #EBEBEB;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;
      }
      
      .button-48:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
      }
      
      .button-48:after {
        background-color: #FFFFFF;
      }
      
      .button-48 span {
        z-index: 1;
        position: relative;
      }
      /* mobile half page ends */

      /* mobile catagory */
      .four-grid-container {
        max-width: 100vw;
        height: auto;
        margin: 0 auto; 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        gap: 0;
      }
      
      #item1 {
        grid-column: 1;
        grid-row: 1;
        height: 100vw;
        width: 100vw;
        object-fit: contain;
        background-position: center;
        }
    
      #item2 {
        grid-column: 1;
        grid-row: 2;
        height: 100vw;
        width: 100vw;
      }
    
      #item3 {
        grid-column: 1;
        grid-row: 3;
        height: 100vw;
        width: 100vw;
        object-fit: contain;
      }
    
      #item4 {
        grid-column: 1;
        grid-row: 4;
        height: 100vw;
        width: 100vw;
      }
      /* mobile gallery ends */
      
     /* mobile newsletter and gallery */
      .lower-gallery {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 4vw;
      }
      .newsletter input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        width: 60vw;
      }
      
      .newsletter {
        padding: 0px;
        border-radius: 0px;
      }
      /* mobile newsletter and gallery ends */
    
  }
  